{% extends 'base.html.twig' %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/login.css') }}"/>
{% endblock %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('security_logout') }}">Logout</a>
        </div>
    {% endif %}


    {# <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>  #}


    {# <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">  #}


    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    {# <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>  #}









{<div id="main">
        <div class="text-center" id="info"><img id="logo" src="./asset/logo/logo O'Baby.png" width="200" alt="logo">
            <h1 class="text-center">Connexion</h1>
            <form class="text-start" id="form-login">
                <div class="mb-3">
                {# <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>  #}
                    <label class="form-label" id="inputEmail" for="inputEmail">* Adresse email</label>
                    <input class="form-control" value="{{ last_username }}" name="email" type="inputEmail" id="inputEmail">
                </div>
                <div class="mb-3">
<label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> 

                    <label for="inputPassword" class="form-label" id="lbl-password" for="txt-password">* Mot de passe</label>

                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
    >

                </div>
                <div class="row">
                    <div class="col-10 col-sm-10 col-md-8">
                        <p class="text-start">* champs obligatoires</p>
                    </div>
                </div>
                <div class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center">
                    <a href="#" class="animated-link login-link">
                        <button type="submit" class="btn text-white">Connexion</button>
                    </a>
                </div>

            </form> 

            <div class="dropdown d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center mt-5">
                <a href="#" class="animated-link account-link">
                    <span type="submit" class="btn text-white"> Créer un compte</span>
                </a>
            </div>
        </div>
    </div>


</form>
{% endblock %}
