{% extends 'base.html.twig' %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/login.css') }}"/>
{% endblock %}

{% block title %}Log in!{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}
<form method="post">
    <div id="main">
        <div class="text-center" id="info"><a href="{{ path('front_home') }}"><img id="logo" src="./asset/logo/logo O'Baby.png" width="200" alt="logo"></a>
            <h1 class="text-center">Connexion</h1>
                <form class="text-start" id="form-login" action="{{ path('front_home') }}">
                    <div class="my-5">
                        <label class="form-label" id="inputEmail" for="inputEmail">* Adresse email</label>
                        <input class="form-control" value="{{ last_username }}" name="email" type="inputEmail" id="inputEmail">
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword" class="form-label" id="lbl-password" for="txt-password">* Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </div>
                    <div class="row">
                        <div class="px-5">
                            <p class="text-start">* champs obligatoires</p>
                        </div>
                    </div>
                    <div class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center">
                        <a href="#" class="animated-link login-link">
                            <button type="submit" class="btn text-white">Connexion</button>
                        </a>
                    </div>
                </form>

                <div class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center mt-5">
                    <a href="{{ path('user_new') }} " class="animated-link account-link">
                        <span class="btn text-white"> Créer un compte</span>
                    </a>
                </div>
            </div>
        </div>
{% endblock %}

{% block footer %}
<!-- JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
    
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}