{% extends 'base.html.twig' %}

{% block title %}Liste des réponses
{% endblock %}

{% block navbar %}
	{% include '/Back/partials/_nav_back.html.twig' %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/homeBack.css') }}"/>
{% endblock %}

{% block body %}
	<h1 class="text-center">Liste des réponses</h1>

	<section class="row">
		<div class="col-sm-12 col-md-12 col-lg-8 mb-5 m-auto">
		<div class="table-back">
			<table class="table table-hover">
				<thead class="table-thead">
					<tr>
						<th scope="col" class="thead-start text-white">Id</th>
						<th scope="col" class="text-white">Contenu</th>
						<th scope="col" class="text-white">Question</th>
						<th scope="col" class="text-white">Date de création</th>
						<th scope="col" class="text-white">Statut</th>
						<th scope="col" class="text-white">Valider</th>
						<th scope="col" class="text-white">Editer</th>
						<th scope="col" class="thead-end text-white">Supprimer</th>
					</tr>
				</thead>
				<tbody>
					{% for answer in answers %}
						<tr>
							<th scope="row">{{ answer.id }}</th>
							<td>{{ answer.content }}</td>
							<td>{{ answer.question.content }}</td>
							<td>{{ answer.createdAt ? answer.createdAt|date('Y-m-d') : '' }}</td>
							<td>{{ answer.status }}</td>
							<td>
								<form action="{{ path('back_question_answer_validate', {'id': answer.id}) }}" method="post">
									<button class="btn btn-success">Valider</button>
								</form>
							</td>
							<td>
								<a class="d-flex justify-content-center" href="{{ path('back_answer_update', {'id': answer.id}) }}">
                                    <button class="btn btn-warning">Editer</button>
                                </a>							
							</td>
							<td>
								{{ include('Back/answer/_delete_form.html.twig') }}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="7">L'information n'a pas été trouvée</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<a class="btn btn-primary col-11 mx-4" href="{{ path('back_home') }}">
				Revenir à l'accueil</a>
		</div>
	</section>

{% endblock %}
{% block footer %}<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>{% endblock %}