{% extends 'base.html.twig' %}

{% block title %}Réponse{% endblock %}

{% block navbar %}{% include '/Back/partials/_nav_back.html.twig' %}{% endblock %}

{% block body %}
    <h1>Réponse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ answer.id }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ answer.content }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ answer.createdAt ? answer.createdAt|date("d/m/Y") : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ answer.status }}</td>
            </tr>
        </tbody>
    </table>

{#     <a href="{{ path('app_answer_index') }}">back to list</a> #}

    <a href="{{ path('back_answer_update', {'id': answer.id}) }}">Editer</a>

    {{ include('Back/answer/_delete_form.html.twig') }}
{% endblock %}
