{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
{% include '/Back/partials/_nav_back.html.twig' %}
    <h1 class="text-center">Liste des questions</h1>

        <section class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 mb-5 m-auto">
                <table class="table table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Question</th>
                            <th scope="col">Date de création</th>
                            <th scope="col">Status</th>
                            <th scope="col">Valider</th>
                            <th scope="col">Editer</th>
                            <th scope="col">Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for question in questions %}
                        <tr>
                            <td>{{ question.id }}</td>
                            <td>{{ question.content }}</td>
                            <td>{{ question.createdAt ? question.createdAt|date('Y-m-d') : '' }}</td>
                            <td>{{ question.status }}</td>
                            <td> 
                                <form action="{{ path('back_question_validate', {'id': question.id}) }}" method="post">
                                    <button class="btn btn-secondary">Valider</button>
                                </form>
                            </td>
                            <td>
                                <a  class="btn btn-warning" href="{{ path('back_question_update', {'id': question.id}) }}">Editer</a>
                            </td>
                            <td>
                                {{ include('Back/question/_delete_form.html.twig') }}
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="5">Pas de données trouvées</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a  class="btn btn-primary col-12" href="{{ path('back_home') }}"> Revenez à l'accueil</a>
            </div>
        </section>
{% endblock %}
