{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/question-answer.css') }}"/>

{% endblock %}
{% block body %}

 <h1 class="text-center">Questions <img class="bottle" src="{{ asset('asset/img/biberon.png') }}" alt="">    Réponses</h1>
  
  <aside class="mb-3 position-relative">  

          <div class="dropdown text-center">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Catégories
            </a>
          
            <ul class="dropdown-menu text-center position-absolute" id="category-nav">
              <li><a class="dropdown-item text-light" href="#">Santé</a></li>
              <li><a class="dropdown-item text-light" href="#">Nutrition</a></li>
              <li><a class="dropdown-item text-light" href="#">Bien être</a></li>
            </ul>
          </div>
          
          
  </aside>
        <main class="container-fluid row m-auto">

    <content class="text-center d-flex flex-column align-items-center">

  <!-- Factoriser ici -->
  {% for question in questions %}

    <article   class="col-lg-10 mb-3 question-div">
      <div class="card banner-owner" role="card-banner">
        <img src="{{ asset('asset/img/yellowNipple.png') }}" class="card-img-top banner-feature" alt="nipple picture">



            <div class="d-flex justify-content-between">
                <div class="p-3">
                    <img class="autor-pic m-0"  src="{{ asset('asset/img/avatar1.svg') }}" alt="author picture">
                    <p class="autor-name text-muted mb-0">{{ question.user.pseudo }}</p>
                </div>
                <time  class="align-self-center align-content-end p-3" datetime="2022-25-07">{{ question.createdAt|date ("d/m/Y") }}</time>
            </div>
            <p class="align-self-center category-item">{{ category.name }}</p>

        <div class="card-body">
          <p class="card-text">{{ question.content }}</p>
        </div>
        <div class="card-footer">

            <form>
                <div class="form-group">
                  <label for="textarea">Votre réponse</label>
                  <textarea class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mt-2 submit-btn">Valider la réponse</button>
              </form>
        </div>
      </div>
    </article>


    <div class="accordion mb-5 col-lg-10 col-12" id="accordionAnswer">

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-answer">
                <button class="accordion-button collapsed flex-column" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-answer" aria-expanded="false" aria-controls="collapse-answer">
                    Les réponses de la communauté
                </button>
            </h2>
            <div id="collapse-answer" class="accordion-collapse collapse" aria-labelledby="heading-answer" data-bs-parent="#accordionReviews">
              {% for answer in question.answers %}
                <div class="accordion-body border border-solid">
                    <p>{{ answer.content }}</p>
                </div>
              {% endfor %}
            </div>
        </div>

    </div>

  {% endfor %}

    </content>
  </main>
  {% endblock %}
