{% extends 'base.html.twig' %}

{% block title %}Practice index
{% endblock %}

{% block navbar %}
	{% include '/Back/partials/_nav_back.html.twig' %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/homeBack.css') }}"/>
{% endblock %}

{% block body %}
	<h1 class="text-center">Liste des bonnes pratiques</h1>

	<section class="row">
		<div class="col-sm-12 col-md-12 col-lg-8 mb-5 m-auto">
		<div class="table-back">
			<table class="table table-hover">
				<thead class="table-thead">
			
								
								
								
							
					<tr>
						<th scope="col" class="thead-start text-white text-center">Id</th>
						<th scope="col" class="text-white text-center">Title</th>
						<th scope="col" class="text-white text-center">Content</th>
						<th scope="col" class="text-white text-center">Date de création</th>
						<th scope="col" class="text-white text-center">Date de mise à jour</th>
						<th scope="col" class="text-white text-center">Status</th>
						<th scope="col" class="text-white text-center">Valider</th>
						<th scope="col" class="text-white text-center">Editer</th>
						<th scope="col" class="thead-end text-white text-center">Supprimer</th>

					</tr>
				</thead>
				<tbody>
					{% for practice in practices %}
						<tr>
							<th scope="row">{{ practice.id }}</th>
							<td>{{ practice.title }}</td>
							<td>{{ practice.content }}</td>
							<td>{{ practice.createdAt ? practice.createdAt|date('d-m-Y') : '' }}</td>
							<td>{{ practice.updatedAt ? practice.updatedAt|date('Y-m-d') : '' }}</td>
							<td>{{ practice.status }}</td>
							<td>
								<form action="{{ path('back_practice_validate', {'id': practice.id}) }}" method="post">
									<button class="btn btn-warning">Valider</button>
								</form>
							</td>
							<td>
								<a class="btn btn-warning" href="{{ path('back_practice_update', {'id': practice.id}) }}">Editer</a>
							</td>
							<td>
								{{ include('Back/practice/_delete_form.html.twig') }}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="7">L'information n'a pas été trouvée</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<a class="btn btn-primary col-11 mx-4" href="{{ path('back_home') }}">
				Revenez à l'accueil</a>
		</div>

	</section>


{% endblock %}
{% block footer %}{% endblock %}
