{% extends 'base.html.twig' %}

{% block title %}Practice index
{% endblock %}

{% block navbar %}
	{% include '/Back/partials/_nav_back.html.twig' %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/homeBack.css') }}"/>
{% endblock %}

{% block body %}
	<h1 class="text-center">Liste des bonnes pratiques</h1>

	<section class="row">
		<div class="col-sm-10 col-md-10 col-lg-10 mb-5 m-auto">
		<div class="table-back">
			<table class="table table-hover">
				<thead class="table-thead">
					<tr>
						<th scope="col" class="thead-start text-white text-center">Id</th>
						<th scope="col" class="text-white text-center">Title</th>
						<th scope="col" class="text-white text-center">Content</th>
						<th scope="col" class="text-white text-center creation-date">Date de création</th>
						<th scope="col" class="text-white text-center update-date">Date de mise à jour</th>
						<th scope="col" class="text-white text-center status">Status</th>
						<th scope="col" class="text-white text-center validate">Valider</th>
						<th scope="col" class="text-white text-center update">Editer</th>
						<th scope="col" class="thead-end text-white text-center delete">Supprimer</th>

					</tr>
				</thead>
				<tbody>
					{% for practice in practices %}
						<tr>
							<th scope="row">{{ practice.id }}</th>
							<td>{{ practice.title }}</td>
							<td>{{ practice.content }}</td>
							<td class="creation-date font-weight-bold">{{ practice.createdAt ? practice.createdAt|date('d-m-Y') : '' }}</td>
							<td class="update-date font-weight-bold">{{ practice.updatedAt ? practice.updatedAt|date('Y-m-d') : '' }}</td>
							<td class="status font-weight-bold">{{ practice.status }}</td>
							<td class="validate">
								<form action="{{ path('back_practice_validate', {'id': practice.id}) }}" method="post">
									<button class="btn btn-warning">Valider</button>
								</form>
							</td>
							<td class="update">
								<a class="btn btn-warning" href="{{ path('back_practice_update', {'id': practice.id}) }}">Editer</a>
							</td>
							<td class="delete">
								{{ include('Back/practice/_delete_form.html.twig') }}
							</td>
						</tr>
						<tr class="responsive-tr">
							<td class="text-center bg-light">
								<h4>Date</h4>
							</td>
							<td class="text-center bg-light">
								<h4>Status</h4>
							</td>
							<td class="text-center bg-light">
								<h4>Modération</h4>
							</td>
						</tr>
						<tr class="responsive-tr">
							<td>
								<div class="text-center text-nowrap">
									<span>{{ practice.createdAt ? practice.createdAt|date('d-m-Y') : '' }}</span>
									<span>{{ practice.updatedAt ? practice.updatedAt|date('Y-m-d') : '' }}</span>
								</div>
							</td>
							<td>
								<div class="text-center">
									<span>{{ practice.status }}</span>
								</div>
							</td>
							<td class="d-flex flex-column flex-center text-center">
								
								<div class="d-flex justify-content-around">
									<span>
										<form action="{{ path('back_practice_validate', {'id': practice.id}) }}" method="post">
											<button class="btn btn-warning">Valider</button>
										</form>
									</span>
									<span>
										<a class="btn btn-warning" href="{{ path('back_practice_update', {'id': practice.id}) }}">Editer</a>
									</span>
									<span>
										{{ include('Back/practice/_delete_form.html.twig') }}
									</span>
								</div>
							</td>
						</tr>
						<tr class="responsive-tr">
							<td colspan="3" class="bg-info"></td>
						</tr>
					{% else %}
						<tr>
							<td colspan="7">L'information n'a pas été trouvée</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<a class="btn btn-primary col-11 mx-4" href="{{ path('back_home') }}">
				Revenez à l'accueil</a>
		</div>

	</section>


{% endblock %}
{% block footer %}{% endblock %}
