{{ form_start(form) }}

<div class="row-1">
	<div class="col-10 col-sm-10 col-md-8 offset-1 offset-sm-1 offset-md-2">
		<strong class="text-center">{{ form_row(form.email) }}</strong>
	</div>
</div>
<div class="row-1">
	<div class="col-10 col-sm-10 col-md-8 offset-1 offset-sm-1 offset-md-2">
		<strong class="text-center">{{ form_row(form.pseudo) }}</strong>
	</div>
</div>
<div class="row-1">
	<div class="col-10 col-sm-10 col-md-8 offset-1 offset-sm-1 offset-md-2">
		<strong class="text-center">{{ form_row(form.status) }}</strong>
	</div>
</div>
<div class="row-1">
	<div class="col-2 offset-5">
		<strong class="text-center">{{ form_row(form.roles) }}</strong>
	</div>
</div>

{{ form_end(form) }}

<div class="row">
	<div class=" d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center flex-xl-row flex-lg-row flex-md-row flex-sm-row flex-column">
		<div class="mb-3">
			<div class="animated-link submit-link ">
				<button class="text-white submit-btn">
					{{ button_label|default('Valider') }}
				</button>
			</div>	
		</div>

		<a href="{{ path('back_user_list') }}" class="mx-4 mb-3">
			<div class="animated-link submit-link">
				<span class="btn text-white btn-warning ">
					Retour à la liste
				</span>
			</div>
		</a>

		<form method="post" action="{{ path('back_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette bonne pratique ?');">
			<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
			<div class="animated-link submit-link">
				<button class="btn text-white btn-danger">Supprimer</button>
			</div>
		</form>
