{% extends 'base.html.twig' %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/footerStyle.css') }}"/>

{% endblock %}


{% block body %}

<div id="back-to-top-button">
    <h1>Contact</h1>

    <img src="./asset/img/hands-1400.png" class="img-fluid col-12" alt="contact">

    <div class="lh-lg m-4">
        <p>Besoin d’aide ? Nous sommes là pour vous !</p>
    </div>

    <h2 class="lh-lg mx-5">Comment pouvons-nous vous aider ?</h2>

    <div class="lh-lg m-4">
        <p>Voici une liste de réponses possibles à vos questions.</p>
    

    <details>
        <summary>
            Comment trouver une information sur notre site ?
        </summary>
        <p>Dans le menu du site, vous trouverez l’onglet <a href={{ path('category_show_practice') }} class="styled-link">« Bonnes pratiques »</a> où se trouvent toutes les catégories portant
        sur les sujets des articles rédigés par la communauté. Une fois votre thème sélectionné, vous pouvez consulter
        les bonnes pratiques et dénicher les informations qui vous sont utiles.</p> 
        <p> Dans le menu du site, vous trouverez également l’onglet <a href={{ path('category_show_question') }} class="styled-link">« Questions/Réponses »</a> où se trouvent toutes les
        questions posées par la communauté et classées par catégories avec toutes les réponses associées. De quoi vous
        donner plein de trucs et astuces !</p>
    </details>


    <details>
        <summary>
            Où poser une question sur notre site ?
        </summary>
        <p> Vous pouvez nous soumettre vos questions sur cette page <a href={{ path('question_ask') }} class="styled-link">en cliquant ici</a>. Attention, pour cela, vous devez être
        connecté.</p>
        <p> Un modérateur vous validera votre question sous 48h maximum.</p>
    </details>


    <details>
        <summary>
            Comment donner une réponse à une question déjà posée ?
        </summary>
        <p> Rien de plus simple ! En-dessous de la question, vous trouverez un encart où vous pouvez soumettre votre avis.
        Attention, pour cela, vous devez être connecté.</p>
        <p>Un modérateur vous validera votre réponse sous 48h maximum.</p> 
        <p> Retournez à la page des catégories de questions <a href={{ path('category_show_question') }} class="styled-link">par ici</a>.</p>
    </details>

    <details>
        <summary>
            Comment se connecter sur notre site ?
        </summary>
        <p> En haut à droite de cette page, vous trouverez le bouton de connexion : si vous n’avez pas encore de compte chez
        nous, c’est le moment de le créer (Allez, on est sympa, on vous donne le lien <a href={{ path('security_login') }} class="styled-link">directement ici</a>.</p>
    </details>


    <details>
        <summary>
            Vous souhaitez supprimer votre compte ?
        </summary>
        <p>Vous allez nous manquer…</p> 
        <p> Vous pouvez aller dans l’onglet votre compte et cliquer sur le bouton « supprimer mon compte ». Cela supprimera
        votre pseudonyme et adresse mail de notre côté. Par contre, le contenu fourni restera sous le pseudonyme «
        Anonyme » pour une question de cohérence de notre site (on considère que tout le contenu donné par la communauté
        peut aider les autres membres).</p>
        <p> Vous êtes sûr et certain de vouloir nous quitter ? Alors, rendez-vous sur  <a href="#" class="styled-link">votre compte </a>(en haut à droite du
        site).</p>
    </details>


    <details>
        <summary>
            Qui est derrière ce site ?
        </summary>
        <p>Vous trouverez toutes les informations sur les fondateurs de ce site sur notre page <a href={{ path('about_us') }} class="styled-link">« Qui sommes-nous ? »</a>.</p>
        <p> Concernant les bonnes pratiques, les questions et leurs réponses, c’est la communauté qui alimente son contenu.
        Cette communauté se compose de futurs parents, de parents novices ou aguerris, des professionnels de la petite
        enfance, etc. Tous les membres de la communauté peuvent partager leur expérience ou demander de l’aide sur un
        sujet précis.</p> 
        <p>Toutes les bonnes pratiques, questions ou réponses sont relues et validées par un modérateur. Les modérateurs de
        ce site ont à cœur de filtrer les mauvaises informations pour que vous puissiez n’y retrouver que des
        renseignements pertinents.</p> 
    </details>


    <details>
        <summary>
            Qui dois-je contacter en cas d’urgence ?
        </summary>
        <p> Nous avons mis en place sur ce site une liste de numéros à joindre en cas d’urgence. Nous vous invitons à la
        consulter à tête reposée pour que, lorsque vous ayez à gérer une urgence, vous sachiez déjà les étapes à suivre.
        Cela vous permettra d’être efficace et de gérer votre stress face à la situation.</p>
        <p> Alors, première étape : accéder à cette fameuse page <a href={{ path('phones') }} class="styled-link">par ici</a> !</p>
    </details>
</div>



    <h2 class="lh-lg mx-5">Nous contacter par mail</h2>

    <div class="lh-lg m-4">
        <p>Vous n’avez pas trouvé votre bonheur parmi toutes les solutions listées ci-dessus ? </p>
        <p>Nous vous proposons de nous envoyer un mail pour toutes questions ou demandes relatives à notre site Internet
            : <a href="mailto:baby.projet@gmail.com" class="styled-link"><em> baby.projet@gmail.com</em></a></p>
        <p>Nous vous répondrons sous 48h en moyenne (hors week-end et jours fériés)</p>
        <p>Au plaisir de vous lire,</p>
        <p>L’équipe O’baby.</p>
    </div>
</div>
    <p class="back-top-button lh-lg m-4"><a href="#back-to-top-button">Revenir en haut de cette page</a></p>
{% endblock %}