{% extends 'base.html.twig' %}

{% block title %}Wellcome to back-office
{% endblock %}

{% block navbar %}
	{% include '/Back/partials/_nav_back.html.twig' %}
{% endblock %}

{% block body %}

	<h1 class="text-center">Bienvenue dans votre back-office</h1>

	<section class="row p-4">
		<div class="container-fluid d-flex flex-wrap">


			<div class="col-sm-12 col-md-12 col-lg-6 mb-5">
				<div class="m-4">
					<table class="table table-hover">
						<thead class="table-dark">
							<tr>
								<th colspan="5">
									<h2 class="text-center">Bonnes Pratiques</h2>
								</th>
							</tr>
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Title</th>
								<th scope="col">Content</th>
								<th scope="col">CreatedAt</th>
								<th scope="col">Status</th>
							</tr>
						</thead>
						<tbody>
							{% for practice in practices %}
								<tr>
									<th scope="row">{{ practice.id }}</th>
									<td>{{ practice.title }}</td>
									<td>{{ practice.content }}</td>
									<td>{{ practice.CreatedAt|date("d/m/Y") }}</td>
									{% if practice.status ==1 %}
										<td class="bg-success">
											{{ practice.status }}
										</td>
									{% else %}
										<td class="bg-warning">
											{{ practice.status }}
										</td>
									{% endif %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<a class="btn btn-primary col-12" href="{{ path('back_practice_list') }}">
						Voir toutes les bonnes pratiques</a>
				</div>
			</div>


			<div class="col-sm-12 col-md-12 col-lg-6 mb-5">
				<div class="m-4">
					<table class="table table-hover">
						<thead class="table-dark">
							<tr>
								<th colspan="5">
									<h2 class="text-center">Questions</h2>
								</th>
							</tr>
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Question</th>
								<th scope="col">Date de création</th>
								<th scope="col">Catégorie</th>
								<th scope="col">Status</th>
							</tr>
						</thead>
						<tbody>
							{% for question in questions %}
								<tr>
									<th scope="row">{{ question.id }}</th>
									<td>{{ question.content }}</td>
									<td>{{ question.CreatedAt|date("d/m/Y") }}</td>
									<td>{{ question.category.name }}</td>
									{% if question.status ==1 %}
										<td class="bg-success">
											{{ question.status }}
										</td>
									{% else %}
										<td class="bg-warning">
											{{ question.status }}
										</td>
									{% endif %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<a class="btn btn-primary col-12" href="{{ path('back_question_list') }}">
						Voir toutes les questions</a>
				</div>
			</div>

			<div class="col-sm-12 col-md-12 col-lg-6 mb-5">
				<div class="m-4">
					<table class="table table-hover">
						<thead class="table-dark">
							<tr>
								<th colspan="5">
									<h2 class="text-center">Réponses</h2>
								</th>
							</tr>
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Réponse</th>
								<th scope="col">Date de création</th>
								<th scope="col">Question</th>
								<th scope="col">Status</th>
							</tr>
						</thead>
						<tbody>
							{% for answer in answers %}
								<tr>
									<th scope="row">{{ answer.id }}</th>
									<td>{{ answer.content }}</td>
									<td>{{ answer.CreatedAt|date("d/m/Y") }}</td>
									<td>{{ answer.question.content }}</td>
									{% if answer.status ==1 %}
										<td class="bg-success">
											{{ answer.status }}
										</td>
									{% else %}
										<td class="bg-warning">
											{{ answer.status }}
										</td>
									{% endif %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<a class="btn btn-primary col-12" href="{{ path('back_answer_list') }}">
						Voir toutes les réponses</a>
				</div>
			</div>

			<div class="col-sm-12 col-md-12 col-lg-6 mb-5">
				<div class="m-4">
					<table class="table table-hover">
						<thead class="table-dark">
							<tr>
								<th colspan="5">
									<h2 class="text-center">Utilisateurs</h2>
								</th>
							</tr>
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Rôle</th>
								<th scope="col">Pseudo</th>
								<th scope="col">Status</th>
							</tr>
						</thead>
						<tbody>
							{% for user in users %}
								<tr>
									<td>{{ user.id }}</td>
									<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
									<td>{{ user.pseudo }}</td>
									{% if user.status ==1 %}
										<td class="bg-success">
											{{ user.status }}
										</td>
									{% else %}
										<td class="bg-warning">
											{{ user.status }}
										</td>
									{% endif %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
					{# TODO: put this part under access control #}
					<a class="btn btn-primary col-12" href="{{ path('back_user_list') }}">
						Voir tous les utilisateurs</a>
				</div>
			</div>

			<div class="col-sm-12 col-md-12 col-lg-6 mb-5">
				<div class="m-4">
					<table class="table table-hover">
						<thead class="table-dark">
							<tr>
								<th colspan="5">
									<h2 class="text-center">Catégories</h2>
								</th>
							</tr>
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Name</th>
							</tr>
						</thead>
						<tbody>
							{% for category in categories %}
								<tr>
									<td>{{ category.id }}</td>
									<td>{{ category.name }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<a class="btn btn-primary col-12" href="{{ path('back_category_list') }}">
						Voir toutes les catégories</a>
				</div>
			</div>

		</div>
	</section>

	
{% endblock %}
{% block footer %}{% endblock %}