{% extends 'base.html.twig' %}

{% block title %}
	Bienvenue dans votre back-office
{% endblock %}

{% block navbar %}
	{% include '/Back/partials/_nav_back.html.twig' %}
{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/backStyle.css') }}"/>

{% endblock %}

{% block body %}
<button class="text-center" onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-arrow-up m-auto"></i></button>

	<h1 class="text-center">Bienvenue dans votre back-office</h1>

	<div class="container-fluid p-0 display-lg">
		<section class="row m-auto d-flex flex-wrap display-lg align-items-start justify-content-evenly m-auto">
			<div class="col-6 p-1">
				<div class="col-12 mb-5 table-back  p-0 text-center">
					<table class="table table-hover">
						<thead class="table-thead ">
							<tr>
								<th colspan="5" class="thead">
									<h2 class="text-center text-white">Bonnes Pratiques</h2>
								</th>
							</tr>
							<tr class="text-white">
								<th scope="col">Identifiant</th>
								<th scope="col">Titre</th>
								<th scope="col">Contenu</th>
								<th scope="col">Date de création</th>
								<th scope="col">Statut</th>
							</tr>
						</thead>
							<tbody>
								{% for practice in practices %}
								<tr>
									<th scope="row">{{ practice.id }}</th>
									<td>{{ practice.title }}</td>
									<td>{{ practice.content|u.truncate(50, '...') }}</td>
									<td>{{ practice.CreatedAt|date("d/m/Y") }}</td>
									{% if practice.status == 1 %}
										<td class="bg-success text-center">
											<p>Publié</p>
										</td>
									{% else %}
										<td class="bg-warning text-center">
											<p>A Modérer</p>
										</td>
									{% endif %}
								</tr>
								{% endfor %}
							</tbody>
						</table>	
						<a class="btn col-10" href="{{ path('back_practice_list') }}">Voir toutes les bonnes pratiques</a>
				</div>
			</div>
			{# END table practices display LG #}

			{# START table questions display LG #}
			<div class="col-6 px-1">
				<div class="col-12 mb-5 table-back display-lg p-0 text-center m-1">
					<table class="table table-hover">
						<thead class="table-thead">
							<tr>
								<th colspan="5" class="thead">
									<h2 class="text-center text-white">Questions</h2>
								</th>
							</tr>
							<tr class="text-white">
								<th scope="col">Identifiant</th>
								<th scope="col">Question</th>
								<th scope="col">Date de création</th>
								<th scope="col">Catégorie</th>
								<th scope="col">Statut</th>
							</tr>
						</thead>
						<tbody>
							{% for question in questions %}
								<tr>
									<th scope="row">{{ question.id }}</th>
									<td>{{ question.content }}</td>
									<td>{{ question.CreatedAt|date("d/m/Y") }}</td>
									<td>{{ question.category.name }}</td>
									{% if question.status ==1 %}
										<td class="bg-success text-center">
											Publié
										</td>
									{% else %}
										<td class="bg-warning text-center">
											<p>A Modérer</p>
										</td>
									{% endif %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<a class="btn col-10" href="{{ path('back_question_list') }}">
						Voir toutes les questions</a>
				</div>
			</div>
			{# END table questions display LG #}

			{# START table categories display LG #}
		<div class="col-6">
			<div class="table-back mb-5 display-lg text-center">
				<table class="table table-hover">
					<thead class="table-thead">
						<tr>
							<th colspan="5" class="thead">
								<h2 class="text-center text-white">Catégories</h2>
							</th>
						</tr>
						<tr class="text-white">
							<th scope="col">Identifiant</th>
							<th scope="col">Nom de la catégorie</th>
						</tr>
					</thead>
					<tbody>
						{% for category in categories %}
							<tr>
								<td>{{ category.id }}</td>
								<td>{{ category.name }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<a class="btn btn-primary col-10" href="{{ path('back_category_list') }}">Voir toutes les catégories</a>
			</div>
		</div>
			{# END table categories display LG #}

			{# START table users display LG #}
			<div class="col-6">
				<div class="table-back col-12 mb-5 display-lg text-center">
					<table class="table table-hover">
						<thead class="table-thead">
							<tr>
								<th colspan="5" class="thead">
									<h2 class="text-center text-white">Utilisateurs</h2>
								</th>
							</tr>
							<tr class="text-white">
								<th scope="col">Identifiant</th>
								<th scope="col">Rôle</th>
								<th scope="col">Pseudonyme</th>
							</tr>
						</thead>
						<tbody>
							{% for user in users %}
								<tr>
									<td>{{ user.id }}</td>
									<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
									<td>{{ user.pseudo }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					{% if is_granted('ROLE_ADMIN') %}
					<a class="btn btn-primary col-10" href="{{ path('back_user_list') }}">Voir tous les utilisateurs</a>
					{% endif %}
				</div>
			</div>
		</section>
			{# END table users display LG #}

			{# START table answers display LG #}
		<div class="col-10 m-auto">
			<div class="col-sm-12 table-back col-md-12 col-lg-12 mb-5 display-lg text-center">
					<table class="table table-hover">
						<thead class="table-thead">
							<tr>
								<th colspan="5" class="thead">
									<h2 class="text-center text-white">Réponses</h2>
								</th>
							</tr>
							<tr class="text-white">
								<th scope="col">Identifiant</th>
								<th scope="col">Réponse</th>
								<th scope="col">Date de création</th>
								<th scope="col">Question</th>
								<th scope="col">Statut</th>
							</tr>
						</thead>
						<tbody>
							{% for answer in answers %}
								<tr>
									<th scope="row">{{ answer.id }}</th>
									<td>{{ answer.content }}</td>
									<td>{{ answer.CreatedAt|date("d/m/Y") }}</td>
									<td>{{ answer.question.content }}</td>
									{% if answer.status ==1 %}
										<td class="bg-success text-center">
											<p>Publié</p>
										</td>
									{% else %}
										<td class="bg-warning text-center">
											<p>A Modérer</p>
										</td>
									{% endif %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<a class="btn btn-primary col-10" href="{{ path('back_answer_list') }}">
						Voir toutes les réponses</a>
				</div>
			</div>
			{# END  table answers display LG #}

</section>
</div>
			{# START table practices display MD #}

	<div class="container-fluid p-0">
	<section class="row m-auto d-flex flex-wrap align-items-start justify-content-evenly m-auto">


<div class="container-fluid text-center p-0">
	<div class="row text-center d-flex flex-wrap">
		<div class="col-lg-12 mb-5 m-auto p-0">
			<div>
				<h3 class="text-center">Liste des bonnes pratiques</h3>
			</div>
			<div class="table-back display-md">
				<table class="table table-hover">
				{% for practice in practices %}
					<thead class="table-thead">
						<tr>
								<th scope="col" class="thead-start bg-secondary text-white">Identifiant</th>
								<th scope="col">{{ practice.id }}</th>
						</tr>
					</thead>
					<tbody>
							<tr>
								<td class="bg-secondary text-white rounded-start">Titre</td>
								<td>{{ practice.title }}</td>
							</tr>
							<tr>
								<td class="bg-secondary text-white rounded-start">Contenu</td>
								<td>{{ practice.content|u.truncate(100, '...') }}</td>
							</tr>
							<tr>
								<td class="bg-secondary text-white rounded-start">Date de création</td>
								<td>{{ practice.createdAt ? practice.createdAt|date('Y-m-d') : '' }}</td>
							</tr>
							<tr>
								<td class="bg-secondary text-white rounded-start">Catégorie</td>
								<td>{{ practice.category.name }}</td>
							</tr>
							<tr>
								<td class="rounded-start bg-secondary text-white rounded-start">Statut</td>
									{% if practice.status == 1 %}
										<td class="bg-success text-center">
											<p>Publié</p>
										</td>
									{% else %}
										<td class="bg-warning text-center">
											<p>A Modérer</p>
										</td>
									{% endif %}
							</tr>
							</tr>
							<tr>
							<td>
							</td>
							<td>
							</td>
							</tr>
							{% else %}
							<tr>
								<td colspan="5">L'information n'a pas été trouvée</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<a  class="btn btn-primary col-10" href="{{ path('back_practice_list') }}"> Voir toutes les bonnes pratiques</a>
			</div>
		</div>
	
{# END table practices display MD #}



{# START table question display MD #}

		<div class="col-lg-12 mb-5 m-auto display-md p-0">
			<div>
				<h3 class="text-center">Liste des questions</h3>
			</div>
			<div class="table-back display-md">
				<table class="table table-hover">
				{% for question in questions %}
			<thead class="table-thead">
						<tr>
								<th scope="col" class="thead-start bg-secondary text-white">Identifiant</th>
								<th scope="col">{{ question.id }}</th>
						</tr>
					</thead>
					<tbody>
							<tr>
								<td class="bg-secondary text-white rounded-start">Contenu</td>
								<td>{{ question.content }}</td>
							</tr>
							<tr>
								<td class="bg-secondary text-white rounded-start">Date de création</td>
								<td>{{ question.createdAt ? question.createdAt|date('Y-m-d') : '' }}</td>
							</tr>
							<tr>
								<td class="bg-secondary text-white rounded-start">Catégorie</td>
								<td>{{ question.category.name }}</td>
							</tr>
							<tr>
								<td class="rounded-start bg-secondary text-white rounded-start">Statut</td>
									{% if question.status == 1 %}
										<td class="bg-success text-center">
											<p>Publié</p>
										</td>
									{% else %}
										<td class="bg-warning text-center">
											<p>A Modérer</p>
										</td>
									{% endif %}
							</tr>
							<tr>
							<td>
							</td>
							<td>
							</td>
							</tr>
							{% else %}
							<tr>
								<td colspan="5">L'information n'a pas été trouvée</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<a  class="btn btn-primary col-10" href="{{ path('back_question_list') }}"> Voir toutes les questions</a>
			</div>
		</div>
	</div>
{# END table question display MD #}

{# START table answers display MD #}

			<div class="col-lg-12 mb-5 m-auto display-md">
			<div>
				<h3 class="text-center">Liste des réponses</h3>
			</div>
			<div class="table-back display-md">
				<table class="table table-hover  text-center">
				{% for answer in answers %}
					<thead class="table-thead">
						<tr>
								<th scope="col" class="thead-start bg-secondary text-white">Question</th>
								<th scope="col">{{ answer.question.content }}</th>
						</tr>
					</thead>
					<tbody>
							<tr>
								<td class="rounded-start bg-secondary text-white">Identifiant réponse {{ answer.id }}</td>
								<td>{{ answer.content }}</td>
							</tr>
							<tr>
								<td class="rounded-start bg-secondary text-white">Date de création</td>
								<td>{{ answer.createdAt ? answer.createdAt|date('Y-m-d') : '' }}</td>
							</tr>
							<tr>
								<td class="rounded-start bg-secondary text-white">Statut</td>
									{% if answer.status == 1 %}
										<td class="bg-success text-center">
											<p>Publié</p>
										</td>
									{% else %}
										<td class="bg-warning text-center">
											<p>A Modérer</p>
										</td>
									{% endif %}
							</tr>
							<tr>
							<td>
							</td>
							<td>
							</td>
							</tr>
				{% else %}
							<tr>
								<td colspan="5">L'information n'a pas été trouvée</td>
							</tr>
				{% endfor %}
					</tbody>
				</table>
				<a  class="btn btn-primary col-10" href="{{ path('back_answer_list') }}"> Voir toutes les réponses</a>
			</div>
		</div>
	</div>

{# END table answers display MD #}

{# START table user display MD #}

		<div class="col-lg-12 mb-5 m-auto p-0">
			<div>
				<h3 class="text-center display-md">Liste des utilisateurs</h3>
			</div>
			<div class="table-back display-md">
				<table class="table table-hover  text-center">
				{% for user in users %}
					<thead class="table-thead">
						<tr>
								<th scope="col" class="rounded-start bg-secondary text-white">Identifiant</th>
								<th scope="col">{{ user.id }}</th>
						</tr>
					</thead>
					<tbody>
							<tr>
								<td class="bg-secondary text-white rounded-start">Pseudonyme</td>
								<td>{{ user.pseudo }}</td>
							</tr>
							<tr>
								<td class="bg-secondary text-white rounded-start">Email</td>
								<td>{{ user.email }}</td>
							</tr>
							<tr>
								<td class="bg-secondary text-white rounded-start">Rôle</td>
								<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
							</tr>
							<tr>
							<td>
							</td>
							<td>
							</td>
							</tr>
							{% else %}
							<tr>
								<td colspan="5">L'information n'a pas été trouvée</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="text-center">
				{% if is_granted('ROLE_ADMIN') %}
					<a  class="btn btn-primary col-10 " href="{{ path('back_user_list') }}">Voir tous les utilisateurs</a>
				{% endif %}
				</div>
			</div>
		</div>
	</div>
{# END table practices display MD #}

{# START table categories display MD #}

		<div class="col-lg-12 col-12 mb-5 m-auto p-0">
			<div>
				<h3 class="display-md text-center">Liste des catégories</h3>
			</div>
			<div class="table-back display-md">
				<table class="table table-hover  text-center">
				{% for category in categories %}
					<thead class="table-thead">
						<tr>
								<th scope="col" class="border rounded-start bg-secondary text-white">Identifiant: {{ category.id }}</th>
								<th scope="col">{{category.name }}</th>
						</tr>
					</thead>
					<tbody>
							
							{% else %}
							<tr>
								<td colspan="5">L'information n'a pas été trouvée</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="text-center">
					<a  class="btn btn-primary col-10" href="{{ path('back_category_list') }}">Voir toutes les catégories</a>
				</div>
			</div>
		</div>
	</div>
{# END table practices display MD #}


	</section>
	</div>

	
{% endblock %}
{% block footer %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
	<script src="{{ asset('js/scrollTopBtn.js') }}"></script>
{% endblock %}
